.cloudContainer {
    align-items: center;
    align-content: center;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.cloudAnimation1 {
    display: flex;
    position: absolute;
    top: 78%;
    left: 0;
    width: 400%; /* 4 Bilder: 2 Original + 2 Wiederholung */
    animation: scroll 900s linear infinite;
    z-index: 0;
    mix-blend-mode: screen;
    opacity: 75%;
    pointer-events: none;
}

.cloudAnimation2 {
    display: flex;
    position: absolute;
    top: 83%;
    left: 0;
    width: 400%; /* 4 Bilder: 2 Original + 2 Wiederholung */
    animation: scroll 900s linear infinite;
    z-index: 0;
    mix-blend-mode: screen;
    opacity: 75%;
    pointer-events: none;
}

.cloudImage {
    width: 25%; /* Jedes Bild nimmt 1/4 der Breite ein */
    height: auto;
    pointer-events: none;

}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /* Verschiebt 2 Bilderbreiten */
    }
}