.outerContainer {
    position: absolute;
    top: 36%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    min-width: 170vh;
    max-width: 170vh;
    min-height: 69vh;
    max-height: 69vh;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    z-index: 100;
}

.container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.layerContainer {
    position: relative;
    width: 40vh;
    height: 40vh;
}

.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    opacity: 1;
}


.earth {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    top: 50%;
    left: 50%;
    width: auto;
    height: 20vh;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    mix-blend-mode: lighten;
}

.earthBackground {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    top: 50%;
    left: 50%;
    width: auto;
    height: 20.5vh;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.infoBox {
    margin-top: -20vh;
    width: 60vh;
    margin-left: 11vh;
    padding: 2.5vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 15vh;
}

.infoBox h1 {
    margin-bottom: 3vh;
    font-size: 3.2vh;
    font-family: "Michroma", monospace;
    color: white;
    background-color: black;
    padding: 1vh 2vh; /* Innenabstand für die Box */
    text-align: center;
    width: 60vh;
}

.infoBox h2 {
    font-family: "Michroma", monospace;
    margin: 0 0 1vh 5vh;
    font-size: 2.7vh;
}

.infoBox p {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 2vh;
    line-height: 1.5;
    margin: 0 0 0 5vh;
}

.fadeIn {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateX(20px);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    transform: translateX(4rem);
}