.landingPageTitleText {
    position: relative;
    color: black;
    /*top: 93.5%;*/
    /*right: 13%;*/
    font-family: "Michroma", monospace;
    font-size: 3.1rem;
    /* Text Outline */
    text-shadow: 0.09375rem 0.09375rem 0px white,
    -0.09375rem -0.09375rem 0px white,
    0.09375rem -0.09375rem 0px white,
    -0.09375rem 0.09375rem 0px white;
    background-color: black;
    padding-top: 0%;
    padding-bottom: 1%;
    border-left: black 1.25rem solid;
    border-right: black 1.25rem solid;
}

.landingPageSecondTitleText {
    margin-top: -2%;
    background-color: black;
    position: relative;
    color: white;
    /*top: 94.5%;*/
    /*right: 14%;*/
    font-family: "Montserrat SemiBold", monospace;
    font-size: 2rem;
    text-shadow: black 0.0625rem 0.125rem 0.1875rem; /* 0.0625rem = 1px*/
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

.landingPageTextContainerWithBackground {
    background-color: black;
    position: absolute;
    border-left: black 1rem solid;
    border-right: black 1rem solid;
    border-top: black 0.5rem solid;
    border-bottom: black 0.5rem solid;
    min-height: auto;
    min-width: 70rem; /* beim rocketStartButton Container gleich viel! */
    max-width: 70rem; /*65%;*/
    text-align: center;
    align-items: center;
    box-shadow: 0px 0.25rem 0px white;
    left: 35%;
    top: 6rem;
}

.landingPageLogo {
    position: relative;
    width: 85%;
    height: 85%;
}

.landingPageTextContainerAlt {
    background-color: black;
    position: absolute;
    border-bottom: black 0.5rem solid;
    min-height: auto;
    min-width: 60rem; /* beim rocketStartButton Container gleich viel! */
    max-width: 60rem; /*65%;*/
    text-align: center;
    align-items: center;
    box-shadow: 0px 0.25rem 0px white;
    left: 37%; /* beim rocketStartButton Container gleich viel! */
    top: 6rem;
}
