.button {
    position: fixed;
    top: 3%;
    right: 2%;
    float: right;
    transition: opacity 0.2s ease-in-out; /* Glatter Übergang */
    opacity: 0.25;
    width: 6vh;
    height: auto;
    z-index: 1600;
}

.button:hover {
    opacity: 1; /* Leichter Effekt beim Hover */
    scale: 105%;
    cursor: pointer;
}

.buttonActive {
    position: fixed;
    top: 3%;
    right: 2%;
    float: right;
    transition: opacity 0.2s ease-in-out; /* Glatter Übergang */
    opacity: 1;
    scale: 95%;
    z-index: 1600;
}

.navbarAnimation {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.navbarVisibleAnimation {
    opacity: 1;
    pointer-events: all;
}