.rocket {
    scale: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 00%; /* Zentriert vertikal */
    right: 28.4%; /* Am linken Bildschirmrand */
    pointer-events: none;
}

.canvas {
}
