.landingPageButton {
    margin-top: 4%;
    background: linear-gradient(150deg, rgba(69,215,190,1) 0%, rgba(47,78,200,1) 100%);   color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    outline: 0;
    border: white solid 2px;
    text-shadow: black 1px 1px 3px;
    font-size: 24px;
    font-family: "Michroma", "monospace";
    cursor: pointer;
    box-shadow: 0px 2px 2px black;
    transition: ease background-color 250ms;
    &:hover {
    }
    &:disabled {
        cursor: default;
        opacity: 0.7;
    }
}

.landingPageButtonContainer {
    margin-top: 150px /*7.5%*/;
    position: relative;
    height: fit-content;
    text-align: center;
    align-items: center;
    width: 100%;
    left: 10%;
}