.rocketPartsContainer {
    align-items: center;
    align-content: center;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.partsAnimationFront {
    will-change: transform;
    display: flex;
    position: absolute;
    top: 0;
    width: 400%; /* 4 Bilder: 2 Original + 2 Wiederholung */
    animation: scrollRight 400s linear infinite;
    z-index: 10;
    opacity: 100%;
    pointer-events: none;
}

.partsAnimationFrontVariant {
    will-change: transform;
    display: flex;
    position: absolute;
    top: 0;
    width: 400%; /* 4 Bilder: 2 Original + 2 Wiederholung */
    animation: scrollRight 450s linear infinite;
    z-index: 10;
    opacity: 100%;
    pointer-events: none;
}

.partsAnimationBack {
    will-change: transform;
    display: flex;
    position: absolute;
    top: 5%;
    width: 400%; /* 4 Bilder: 2 Original + 2 Wiederholung */
    animation: scrollLeft 800s linear infinite;
    z-index: 0;
    opacity: 100%;
    pointer-events: none;
    backface-visibility: hidden;
}

.partsAnimationBackVariant {
    will-change: transform;
    display: flex;
    position: absolute;
    top: 5%;
    width: 400%; /* 4 Bilder: 2 Original + 2 Wiederholung */
    animation: scrollLeft 750s linear infinite;
    z-index: 0;
    opacity: 100%;
    pointer-events: none;
    backface-visibility: hidden;
}

.partsImage {
    width: 100%; /* Jedes Bild nimmt 1/4 der Breite ein */
    height: auto;
    pointer-events: none;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /* Verschiebt 2 Bilderbreiten */
    }
}

@keyframes scrollRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0); /* Verschiebt 2 Bilderbreiten */
    }
}
