.rocketDock {
    width: 28%;
    left: 3%; /* Am linken Bildschirmrand: zuvor 0.5% */
    top: 89.15%;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
}

.rocketBase {
    width: 100%;
    left: -25%;
    top: 98.4%;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
}