.landingPageButton {
    margin-top: 0;
    background: linear-gradient(150deg, rgba(69,215,190,1) 0%, rgba(47,78,200,1) 100%);
    color: white;
    /*padding: 15px 20px 15px 20px;*/
    padding: 1rem 1.2rem 1rem 1.2rem ;
    border-radius: 0.3125rem;
    outline: 0;
    border: white solid 0.2rem;
    text-shadow: black 0.0625rem 0.0625rem 0.1875rem;
    font-size: 1.9rem;
    font-family: "Michroma", "monospace";
    cursor: pointer;
    box-shadow: 0px 0.125rem 0.125rem black;
    transition: ease background-color 250ms;
    &:hover {
        border-color: rgba(12,74,63,1); /* dark primary color */
        color: rgba(12,74,63,1);
    }
    &:disabled {
        cursor: default;
        opacity: 0.7;
    }
}

.landingPageButtonContainer {
    margin-top: 4rem /*7.5%*/;
    position: absolute;
    height: fit-content;
    text-align: center;
    align-items: center;
    width: 100%;
    left: 35%;
    top: 17rem;
    min-width: 70rem;
    max-width: 70rem;
}