.scrollDownButton {
    position: absolute;
    top: 0.5%;
    left: 96%;
    width: 2.2%;
    height: 2.2%;
    transition: opacity 0.2s ease-in-out; /* Glatter Übergang */
    opacity: 0.5;
}

.scrollDownButton:hover {
    opacity: 1; /* Leichter Effekt beim Hover */
    scale: 105%;
}
