.scrollUpButton {
    position: absolute;
    top: 98.3%;
    right: 2%;
    width: 6vh;
    height: auto;
    transition: opacity 0.2s ease-in-out; /* Glatter Übergang */
    opacity: 0.25;
}

.scrollUpButton:hover {
    opacity: 1; /* Leichter Effekt beim Hover */
    scale: 105%;
}
