.textBoxMain {
    position: relative;
    background-color: transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem inset transparent;
    border-bottom: 0.5rem solid transparent;
    border-top: 0.1rem solid transparent;
    padding-left: 3vh;
    padding-right: 3vh;
    text-align: left;
    align-items: center;
    /*box-shadow: 0px 0.25rem 0px white;*/
    z-index: 100;
    min-height: 90vh;
    max-height: 100vh;
    min-width: 90vh;
    max-width: 105vh;
}

.textBoxContainer {
    position: absolute;
    top: 85%;
    left: 40.5%;
    height: auto;
}

.h2 {
    font-family: "Michroma", monospace;
    font-size: 5.5vh;
    color: white;
    text-shadow: rgb(59, 59, 59) 0.1rem 0.1rem 0.1rem;
}

.p {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 2.4vh;
    color: white;
    text-align: justify; /* Blocksatz */
    text-shadow: rgb(59, 59, 59) 0.1rem 0.1rem 0.2rem;
}

.pHighlighted {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 2.4vh;
    color: white;
    font-weight: bold;
    text-align: justify; /* Blocksatz */
    display: inline; /* sodass es in derselben Zeile angezeigt wird */
    text-shadow: rgb(59, 59, 59) 0.1rem 0.1rem 0.1rem;
    border-left: 0.4vh solid transparent;
    border-right: 0.4vh solid transparent;
    background: rgba(12, 47, 63, 0.5);
}

.fadeIn {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateX(20px);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    transform: translateX(4rem);
}
