.textBoxMain {
    position: relative;
    background-color: transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem inset transparent;
    border-bottom: 0.5rem solid transparent;
    border-top: 0.1rem solid transparent;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 35rem;
    max-height: 35rem;
    min-width: 60rem;
    max-width: 60rem;
    text-align: left;
    align-items: center;
    text-shadow: dimgrey 0.1rem 0.1rem 0.1rem;
    /*box-shadow: 0px 0.25rem 0px white;*/
    z-index: 100;
}

.textBoxContainer {
    position: absolute;
    top: 85%;
    left: 40.5%;
}

.h2 {
    font-family: "Michroma", monospace;
    font-size: 2.8rem;
    color: white;
}

.p {
    font-family: "Montserrat Light", sans-serif;
    font-size: 1.2rem;
    color: white;
}

.fadeIn {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateX(20px);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    transform: translateX(4rem);
}
